html body .container.svelte-7ua6x9 .inner::before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background: url("whitestone-logo.png") no-repeat center;
    background-size: contain;
    margin-bottom: 10px;
}

html body .container.svelte-7ua6x9 h1 {
    font-size: 0 !important; 
}

html body .container.svelte-7ua6x9 h1::after {
    content: "WHITESTONE FOUNDATION";
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    display: block;
}

html[data-theme] aside nav::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: url("whitestone-logo.png") no-repeat center;
    background-size: contain;
    margin: 20px auto 10px;
}

html[data-theme] aside nav::after {
    content: "WHITESTONE";
    display: block;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: var(--sui-secondary-foreground-color);
    margin-bottom: 20px;
    border-bottom: 1px solid var(--sui-border-color-2-hsl);
    padding-bottom: 10px;
}

.logo.svelte-7ua6x9, 
.container.svelte-7ua6x9 svg {
    display: none !important;
}